.caContainer{
    width: 250px;
}
.caImgContainer{
    width: 240px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.caImgContainer > img{
    max-width: 100%;
    max-height: 300px;
}
.caProductName{
    font-size: 12px;
    padding: 10px 0;
}
.caProductPrice{
    font-size: 12px;
    font-weight: 600;
}
.ratingCountProductList{
    /* display: inline-block; */
    background: #388e3c;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    border-radius: 3px;
    padding: 2px 5px;
    float: right;
}

.discountProductList{
    margin: 0 30px;
    color: #388e3c;
    font-size: 12px;
    /* margin: 10px 0px; */
    font-weight: 600;
}
